*{ 
    font-family: sans-serif;
    line-height: 1.68em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
        font-size: 16px;
        margin-top: 0em;
}


header{
        margin:2em 0 0 0;
        padding: 2em 0;
        background-image: url("images/header-background.jpg");
        width:100%;
        color:whitesmoke;
        text-align:center;
        font-size:1.5em;
        border-bottom:2px solid #333;
}
header div{
    display:flex;
    justify-content: center
}
header img{
    margin:1em;
    height:30px;
}

header a:hover{
    filter: invert(100%);
}

nav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    flex-flow: row;
    justify-content:center;
    background: #333;
    font-size:1.1em
}

nav a {
    padding: 1em 10.3em;
    text-decoration: none;
    color:#fff;
    
}
nav a:hover{
    background: #666;
}

body{
    background-color: whitesmoke;
}

#aboutMe img{
    height:200px;
}

#aboutMe{
    display:flex;
    justify-content: center;
    align-items: center
}

#aboutMe div{
    margin:1em;
}

#techSkills{
    margin:0;
    padding:2em;
    background-color:black;
    text-align: center;
    color:white;
    font-size:1.3em;

}

section > p {
    margin: 1em 0;
}
section ul{
    padding-left: 1.5em;
}

#aboutMe {
    display:flex;
    flex-direction: row;
}
#aboutMe img{
    height:15em;
}
#myProjects{
    margin:1em;
}
#projects{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}
#projects article{
    background-image: url("images/article-background.jpg");
    /*background: #ccc;*/
    padding: 1em;
    color:whitesmoke;
}

#projects article img{
    width: 100%;
    border: 1px solid #333;

}

#myProjects h2{
    text-align:center;
    font-size:1.5em
}

article{
    border: 2px solid #333;
}

article a{
    color:Yellow;
}

article a:hover{
    color:blue;
}

footer{
    margin-top:2em;
    margin-bottom: 1em;
    background: #333;
    color: #fff; 
    padding: 1em 0;
    text-align: center;
}


